#leftBar{
	width: 80%;
	background-color: #bbbbbb;
}

html, body, #chatBottom, #chatTop, #rightBar, #leftBar, #localVideo, #remoteVideo, #remoteVideo video{
	height: 100%;
}

#localVideo, #remoteVideo{
	width: 100%;
}

#remoteVideo video, #localVideo video{
	width: 100%;
	margin: auto;
}

#localVideo video{
	height: 100%;
}

#disconnect-mesg{
	text-align: center;
	height: 100%;
	margin: auto;
}

#messages{
	list-style: none;
}

#messages li:nth-child(even){
	background-color: #dddddd;
}

#rightBar{
	width: 20%;
}

#rightBar, #leftBar{
	float: left;
}

#chatTop{
	background-color: #333333;
	height: 60%;
}

#chatBottom{
	height: 40%;
	background-color: #8888ff;
}

#chatBottom, #leftBar, #rightBar{
	overflow: scroll;
}
