ul{
	padding: 10px 10px;
}

#leftBar{
	width: 80%;
	background-color: #bbbbbb;
}

body{
	background-color: #b3e5ff;
}

html, body, #chatBottom, #chatTop, #rightBar, #leftBar, #localVideo, #remoteVideo, #remoteVideo video{
	height: 100%;
}

#localVideo, #remoteVideo{
	width: 100%;
}

#remoteVideo video, #localVideo video{
	width: 100%;
	margin: auto;
}

#localVideo video{
	height: 100%;
}

#disconnect-mesg{
	text-align: center;
	height: 100%;
	margin: auto;
}

#messages{
	list-style: none;
	height: 80%;
}

#messages li:nth-child(even){
	background-color: #8ad7ff;
}

#rightBar{
	width: 20%;
}

#rightBar, #leftBar{
	float: left;
}

#chatTop{
	background-color: #333333;
	height: 60%;
	position: relative;
}

#chatBottom{
	height: 35%;
	font-family: Verdana, sans-serif;
}

#chatInput{
	font-family: Verdana, sans-serif;
}

#chatBottom{
	overflow-y: scroll;
	overflow-x: hidden;
}

#chatBottom, #msg, #chatInput{
	background-color: #b3e5ff;
}

button#nextRoom {
	position: absolute;
	right: 20px;
	bottom: 20px;
	cursor: pointer;
	background-color: #009bff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: none;
	width: 200px;
	height: 50px;
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
	font-family: Verdana, sans-serif;
}

button#msgSend {
	position: absolute;
	right: 0px;
	cursor: pointer;
	background-color: #009bff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: none;
	width: 10%;
	color: #ffffff;
	font-family: Verdana, sans-serif;
}

#msg input {
	width: 88%;
}

#msg {
	position: relative;
	height: 100%;
	width: 90%;
	margin: auto;
}