div#mainBody {
	width: 600px;
	text-align: center;
	margin: 0px auto;
	margin-top: 200px;
}

button#startChat {
	margin-top: 20px;
	cursor: pointer;
	background-color: #009bff;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	border: none;
	width: 200px;
	height: 50px;
	color: #ffffff;
	font-weight: 500;
	font-size: 15px;
}

h1, button#startChat{
	font-family: 'Verdana', sans-serif;
}

h1{
	color: #009bff;
}

button:hover {
	cursor: hand;
}
