<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="x-ua-compatible" content="ie=edge">

		<!-- Bootstrap CSS -->
		<link type="text/css" rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="css/index.css">

		<!-- jQuery first, then Bootstrap JS. -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/scripts/index.js"></script>
	</head>
	<body>
		<div class="container" id="mainBody">
			<h1 class="text-center">Welcome to Neighbor Chat</h1>
			<button id="startChat">Chat with a neighbor!</button>
		</div>
	</body>
</html>
